.toggle-wave {
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: wave;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes wave {
    0%   {left:0px; top:0px;}
    50%  {left:10px; top:0px;}
    100% {left:0px; top:0px;}
}


.container-fluid h1 {
    font-family: Lato;
    font-weight: 700;
    font-size: 2.5rem;
}

@media screen and (min-width: 385px) and (max-width: 448px) {
    .container-fluid h1 {
        font-family: Lato;
        font-weight: 700;
        font-size: 3rem;
    }
}

.desc-text {
    font-family: Lato;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.description-column {
    padding: 2rem;
}

@media screen and (min-width: 768px) {
    .description-column {
        width: 50%;
        margin-left: 4rem;
    }
}

.initial-padding {
    padding-top: 5rem;
}

.container-padding {
    padding-top: 5rem;
}

.mobile-padding {
    padding: 2rem;
}

@media screen and (min-width: 768px) {
    .initial-padding {
        padding-top: 10rem;
    }

    .container-padding {
        padding-top: 7rem;
    }
}


.contact {
    font-family: Lato;
    font-weight: 300;
    font-size: 1.5rem;
}

.email-span-styling {
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
}

#email {
    font-family: Lato;
    font-weight: 400;
    font-size: 1.5rem;
    display: none;
}

@media screen and (min-width: 400px) {
    .contact {
        font-family: Lato;
        font-weight: 300;
        font-size: 2rem;
    }

    .email-span-styling {
        font-weight: 700;
        cursor: pointer;
        font-size: 2rem;
    }

    #email {
        font-family: Lato;
        font-weight: 400;
        font-size: 2rem;
        display: none;
    }

    .desc-text {
        font-family: Lato;
        font-weight: 300;
        font-size: 2rem;
        margin-top: 2rem;
    }
}

.title {
    font-family: Lato;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 0.3rem;
    letter-spacing: 0.30rem;
    text-align: center;
    color: #0000ff;
    font-weight: 700;
}

.title-skills {
    font-family: Lato;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: black;
    font-weight: 700;
}

.about-text {
    font-size: 1.2rem;
    font-family: Lato;
    font-weight: 300;
    padding: 2.6rem;
}

.bolded-text {
    font-size: 1.2rem;
    font-family: Lato;
    font-weight: 700;
}

.subject {
    font-family: Lato;
    font-size: 1rem;
    color: #0000ff
}

ul, li {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-family: Inconsolata;
    font-size: 1.2rem;
    font-weight: 300;
    color: #36363c;
    line-height: 1.75rem;
}

.column {
    width: 50%;
    padding-left: 1.6rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
}

.company-name {
    font-family: Lato;
    font-size: 1.1rem;
    font-weight: 700;
}

.dates {
    font-family: Inconsolata;
    font-size: 1.1rem;
    font-weight: 400;
}

.job-title {
    font-family: Lato;
    font-size: 1.1rem;
    font-weight: 300;
    display: block;
}

.job {
    padding-left: 2.6rem;
    padding-top: 2.6rem;
    padding-right: 3.9rem;
    width: 100%;
}

.job p {
    margin-bottom: 0;
}

.project {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
}
.project-title {
    font-family: Inconsolata;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 0;
}

.project-description {
    font-family: Lato;
    font-weight: 300;
    font-size: 1.1rem;
}

.btn.special {
    background-color: #F5F5F5;
    color: #333333;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    text-decoration: none;
    background-position: 0;
    transition: none;
}

a:link {
    color: #0000ff;
}

a:visited {
    color: #0000ff;
}

a:hover {
    color: #0000ff;
    text-decoration: none;
}

a:active {
    color: blue;
}

@media screen and (min-width: 380px) and (max-width: 440px) {
    .column {
        width: 50%;
        padding-left: 3rem;
        padding-right: 1rem;
    }
}

@media screen and (min-width: 440px) and (max-width: 520px) {
    .column {
        padding-left: 3.5rem;
        padding-right: 1rem;
    }
}

@media screen and (min-width: 520px) and (max-width: 576px) {
    .column {
        padding-left: 4rem;
        padding-right: 1rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 1000px) {
    .column {
        width: 50%;
    }
    
    .mobile-padding {
        padding-top: 0px;
    }

    .about-text {
        padding-top: 0px;
        font-size: 1.1rem;
    }


    ul li {
        font-family: Lato;
        font-size: 1rem;
        font-weight: 300;
        color: #36363c;
        line-height: 1.75rem;
    }

    .bolded-text {
        font-size: 1rem;
        font-family: Lato;
        font-weight: 700;
    }
    
    .title {
        text-align: right;
    }

    .job {
        padding-left: 2.6rem;
        padding-top: 0;
        margin-bottom: 2rem;
    }
    
    .job-title {
        font-family: Lato;
        font-size: 1.1rem;
        font-weight: 300;
        display: block;
    }
}

@media screen and (min-width: 1000px) {
    .column {
        width: 25%;
    }

    .mobile-padding {
        padding-top: 0px;
    }

    .about-text {
        padding-top: 0px;
        font-size: 1.1rem;
    }

    .bolded-text {
        font-size: 1rem;
        font-family: Lato;
        font-weight: 700;
    }
    
    .title {
        text-align: right;
    }

    ul li {
        font-family: Inconsolata;
        font-size: 1rem;
        font-weight: 300;
        color: #36363c;
        line-height: 1.75rem;
    }

    .title-skills {
        font-family: Lato;
        text-transform: uppercase;
        font-size: 1rem;
        color: black;
        font-weight: 700;
    }

    .job {
        padding-left: 2.6rem;
        padding-top: 0;
    }

    .job {
        padding-left: 2.6rem;
        padding-top: 0;
        display: inline-block;
        margin-bottom: 2rem;
    }

    .company-name {
        float: left;
    }

    .dates {
        float: right;
    }
    
    .job-title {
        font-family: Lato;
        font-size: 1.1rem;
        font-weight: 300;
        display: block;
        margin-top: 1.7rem;
    }
}

